<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>484593309827-lpilslukm5nhn89tj065jfn7f7ra0ptf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.484593309827-lpilslukm5nhn89tj065jfn7f7ra0ptf</string>
	<key>API_KEY</key>
	<string>AIzaSyD_rDb9dPh19BYdgGsn_MA2cRohYVZczLw</string>
	<key>GCM_SENDER_ID</key>
	<string>484593309827</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.beibei.todo</string>
	<key>PROJECT_ID</key>
	<string>todo-173a3</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-173a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:484593309827:ios:c034e8ee74d9f9170863b6</string>
	<key>DATABASE_URL</key>
	<string>https://todo-173a3.firebaseio.com</string>
</dict>
</plist>